*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

.josefine-font {
  font-family: "Josefin Sans", sans-serif;
}
html {
  font-size: 62.5%;
}
.logo {
  width: 7vw;
  padding-bottom: 1rem;
}
.logo:hover {
  transform: scale(1.1);
  border-bottom: 1px solid black;
  transition: all 0.4s;
}
.title {
  font-size: 2.5vw;
}
.title4 {
  font-size: 2vw;
}
.par {
  font-size: 2vw;
  text-align: justify;
  text-decoration: none;
}
a {
  color: blue;
  // font-weight: bold;
}
nav {
  background-color: #222;
  border-bottom: 1rem solid #000;
  height: 5vh;
  p {
    margin: 0;
    font-size: 3vw;
    padding: 1vw;
    color: #fff;

    font-weight: bold;
  }
  span {
    color: #222;
  }
}
.top {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./back.jpg);
  background-size: cover;
  background-attachment: fixed;
  // background-color: rgb(4, 0, 61);

    .bio {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      // border-radius: 0 2rem 2rem 0;
      background-color: rgba(255, 255, 255, 0.829);
      height: 70%;
      padding: 1rem;

      .bio-text {
        padding: 2vw;
      }
    }
  }
.bottom {
  // width: 80%;
  margin: 0 auto;
  .bottom-white {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 80%;
    margin: 0 auto;
    .about {
      padding: 2rem;
      background-color: #222;
      border-bottom: 1rem solid #000;
      border-top: 1rem solid #000;
      h3 {
        text-align: center;
        color: white;
      }
      p {
        color: white;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 2rem;
      }
    }
    .skills {
      width: 60%;

      h3 {
        text-align: center;
      }
      .skills-img {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 4rem;
      }
    }
    .courses {
      background-color: #222;
      border-top: 1rem solid #000;
      border-bottom: 1rem solid #000;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;

      h3 {
        text-align: center;
        color: white;
      }
      p {
        color: white;
        // width: 50%;
        // border: 1px solid red;
        margin: 0 auto;
        margin-bottom: 1rem;
      }
      ul {
        // width: 50%;
        margin: 0 auto;
        margin-bottom: 4rem;
        li {
          a {
            color: skyblue;
          }
          a:hover {
            color: blue;
          }
        }
      }
    }
    .projects {
      padding: 2rem;
      h3 {
        text-align: center;
      }
      a:hover {
        font-weight: bold;
      }
      margin-bottom: 4rem;
    }
  }
}
footer {
  border-top: 1rem solid #000;
  border-bottom: 1rem solid #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
  color: white;
  .contact {
    display: flex;
    align-items: center;
  }
  .linkedin {
    display: flex;
    align-items: center;
    a {
      color: skyblue;
    }
    a:hover {
      color: blue;
    }
  }
  .github {
    display: flex;
    align-items: center;

    a {
      color: skyblue;
    }
    a:hover {
      color: blue;
    }
  }
}
.footer-img {
  width: 2vw;
  min-width: 2rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 992px) {
  .par {
    font-size: 2rem;
  }
  .title {
    font-size: 2.5rem;
  }
  .title4 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 767px) {

}
@media only screen and (max-width: 600px) {
  .top{
    .bio{
      .bio-text{
        h3{font-size: 2rem;}
        h4{font-size: 243m;}
      }
    }
  }

  .logo {
    width: 12vw;
    padding-bottom: 1rem;
    margin: 0 1rem;
  }
}
@media only screen and (max-width: 486px) {
  footer{
    flex-direction: column;
  }
}