*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

.josefine-font {
  font-family: "Josefin Sans", sans-serif;
}
html {
  font-size: 62.5%;
}
.logo {
  width: 7vw;
  padding-bottom: 1rem;
}
.logo:hover{
  transform: scale(1.1);
  border-bottom: 1px solid black;
  transition: all .4s;
}
.title {
  font-size: 2vw;
}
.title4 {
  font-size: 1.5vw;
}
.par {
  font-size: 1.5vw;
  text-align: justify;
  text-decoration: none;
}
a {
  color: blue;
  // font-weight: bold;
}
nav {
  background-color: #222;
  border-bottom: 1rem solid #000;
  height: 5vh;
  p {
    margin: 0;
    font-size: 3vw;
    padding: 1vw;
    color: #fff;

    font-weight: bold;
  }
  span {
    color: #222;
  }
}
.top {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: rgb(4, 0, 61);
  .top-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 25px;
    .pic {
      width: 30%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #222;
      border-radius: 2rem 0 0 2rem;
      border-right: 1rem solid #000;
      img {
        width: 10vw;
        border-radius: 9rem;
      }
    }
    .bio {
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 2rem 2rem 0;
      background-color: #fff;
      height: 100%;

      .bio-text {
        padding: 2vw;
      }
    }
  }
}
.bottom {
  // width: 80%;
  margin: 0 auto;
  .bottom-white {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 80%;
    margin: 0 auto;
    .about {
      h3 {
        text-align: center;
        color: white;
      }
      p {
        color: white;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 2rem;
      }
      background-color: #222;
      border-bottom: 1rem solid #000;
      border-top: 1rem solid #000;
    }
    .skills {
      width: 60%;

      h3 {
        text-align: center;
      }
      .skills-img {
        display: flex;
        justify-content: space-around;
        margin-bottom: 4rem;
      }
    }
    .courses {
      background-color: #222;
      border-top: 1rem solid #000;
      border-bottom: 1rem solid #000;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
        text-align: center;
        color: white;
      }
      p {
        color: white;
        // width: 50%;
        // border: 1px solid red;
        margin: 0 auto;
        margin-bottom: 1rem;
      }
      ul {
        // width: 50%;
        margin: 0 auto;
        margin-bottom: 4rem;
        li {
          a {
            color: skyblue;
          }
          a:hover {
            color: blue;
          }
        }
      }
    }
    .projects {
      h3 {
        text-align: center;
      }
      a:hover{
        font-weight: bold;
      }
      margin-bottom: 4rem;
    }
  }
}
footer {
  border-top: 1rem solid #000;
  border-bottom: 1rem solid #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
  color: white;
  .contact{
    display: flex;
    align-items: center;
  }
  .github{
    display: flex;
    align-items: center;
    a{
color: skyblue;
    }
    a:hover{
color: blue;
    }
  }
}
.footer-img{
  width: 2vw;
  margin-right: 1rem;
}
